.restaurant {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant.not-open span.title {
  text-decoration: line-through;
}

.restaurant .rating {
  color: #dcdc30;
}
