.content-container {
  min-height: 80vh;
  margin: 0 auto;
  padding: 20px 0px;
}

@media screen and (max-width: 767px) {
  .content-container {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .content-container {
    width: 1024px;
  }
}
